
* {
    margin: 0;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}


header {
    background: rgb(17, 17, 17);
    height: 50px;
    position: sticky;

}

.potatisen {
    display: block;
    margin-left: auto;
    padding-right: 5vh;

    

}



.list {

    display: flex;
    list-style-type: none;
    padding-top: 10px;


}


.list a {
    padding-left: 2vw;
    color: white;
    font-size: 150%;    
}

.btn {
    background-color: rgb(17, 17, 17); /* black */
    border: none;
    color: white;

    padding: 1.5vh 1vw;
    font-size: 1em;
    border-radius: 1vh;

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;

}


.btn-main {
    background-color: rgb(17, 17, 17); /* black */
    border: none;
    color: white;

    padding: 1.5vh 1vw;
    font-size: 1em;
    border-radius: 1vh;

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;

}

.text-box {
    display: block;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;

}


.main-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    width: 30%;
    height: auto;
    border-radius: 1vh;
}



/* foot */ 
.fot {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(17, 17, 17);
    color: white;
    text-align: center;
}


/* Not found*/

.not-found-img {
    display: block;

    width: 30%;
    height: auto;
    border-radius: 1vh;

    margin-left: auto;
    margin-right: auto;
}

.not-found-text {
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    padding-bottom: 1vh;
 

}

/* om oss */ 



.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    border-radius: 7%;
    
}

.img-move-om-oss {
    padding-top: 10vh;
    padding-bottom: 5vh;
}


/* veckobrev */

.veckobrev-content-box {
    margin: auto;
    width: 40%;
    padding-top: 20vh;
}

.btn2.div {
    width: 50%;
}

.pdf-box {
    margin: auto;
    width: 40%;
    padding: 10px;
    padding-top: 20vh;
}
.btn2 {
    background-color: rgb(17, 17, 17); /* Black */
    border: none;
    color: white;

    padding: 1.5vh 1vw;
    font-size: 3em;
    border-radius: 1vh;
    
    width: 100%;
    border: 3px solid rgb(31, 31, 31);
    padding: 2vh;

}



.img {
    display: block;
    border-radius: 3%;

    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: 80%;

}




@media only screen and (max-width: 736px) {


    .main-text {
        display: none;
    }

    .potatisen {
        display: none;
    }

    .list {
        padding-left: 5%;
    }

    .list a {
        font-size: 130%;
        padding-left: 3vw;
    }

    .main-img {
        width: 80%;

        margin-left: auto;
        margin-right: auto;
    }


    .center-img {
        width: 100%;
        height: auto;
    }
    .kony-txt {
        display: none;
    }

    .not-found-img {

        width: 60%;
        height: auto;
    }

    .text-box {
        font-size: 90%;
    }


    .pdf-box {
        padding-top: 25vh;
    }

    .img {
        width: 100%;
        border-radius: 7%;
    }

    .btn2 {
        font-size: 50%;
    }
}


@media only screen and (max-width: 1024px) {

    .kony-txt {
        font-size: 80%;
    }

    .center-img {
        width: 45%;
        height: auto;
    }

    .main-text {
        font-size: 95%;
        
    }
    .btn2  {
        font-size: 2em;
    }

    .btn-main {
        font-size: 1em;
    }

    .main-img {
        padding-top: 0vh;
    }
    
    .footer-text {
        font-size: 150%;
    }




}




@media only screen and (max-width: 414px) {
    .list a {
        font-size: 120%;
    }
    .list li {
        padding-right: 2.5vh;
        margin: auto;
    }


    .footer-text {
        font-size: 150%;
    }

    .btn2 {
        font-size: 140%;
    }
}


@media only screen and (max-width: 360px) {
    footer {
        display: none;
    }


    .list a {
        font-size: 130%;
        padding-left: 3vw;
    }
}

