* {
    margin: 0;
    font-family: 'Inter', sans-serif;
}



body {
    height: 100%;
}



.potatisen {
    display: block;
    margin-left: auto;
    padding-right: 5vh;
    font-size: 150%;

    

}
a {
    text-decoration: none;
}
.nav-box {
    vertical-align: top;
    

    

}

.list {
    display: flex;
    list-style-type: none;
    padding-top: 10px;
    
    
    



}

.list li{
    text-decoration: none;
    font-size: 150%;
    margin-top: auto;




}

.list a {
    text-decoration: none;
    padding-left: 2vw;
    color: white;
    
    
    
    
}

header {
    background: rgb(17, 17, 17);
    height: 50px;
    position: sticky;

}
.btn {
    background-color: rgb(17, 17, 17); /* Green */
    border: none;
    color: white;

    padding: 1.5vh 1vw;
    text-decoration: none;
    font-size: 1em;
    border-radius: 1vh;

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;

}

.btn2 {
    background-color: rgb(17, 17, 17); /* Green */
    border: none;
    color: white;

    padding: 1.5vh 1vw;
    text-decoration: none;
    font-size: 3em;
    border-radius: 1vh;

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;

}

.text-box {
    display: block;
    width: 40%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -5vh;

}





.welcome {
    display: block;
    margin-left: auto;
    padding-top: 5vh;
    
}

.main-text {
    width: 100%;
    height: auto;
}
.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    width: 30%;
    height: auto;
    border-radius: 1vh;
}

.sideimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: auto;
    border-radius: 1vh;
}



/* foot */ 
.fot {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(17, 17, 17);
    color: white;
    text-align: center;
}


/* Not found*/

.not-found-img {
    display: block;

    width: 30%;
    height: auto;
    border-radius: 1vh;

    margin-left: auto;
    margin-right: auto;
}

.James-text {
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    padding-bottom: 1vh;
 

}

/* om oss */ 


.text-box2 {
    display: block;
    width: 30%;
    height: auto;
    


}


.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10vh;
    padding-bottom: 1vh;
    width: 45%;
    height: auto;
}

@media only screen and (max-width: 534px) {
    .main-text {
        display: none;
    }

    .potatisen {
        display: none;
    }

    .list a {
        font-size: 60%;
        padding-left: 6vw;
    }

    .img {
        width: 70%;
        height: auto;

        margin-left: auto;
        margin-right: auto;
    }


    .fot {
        bottom: 0;
    }

    .center-img {
        width: 100%;
        height: auto;
    }
    .kony-txt {
        display: none;
    }

    .not-found-img {

        width: 60%;
        height: auto;
    }

    .welcome {
        font-size: 180%;
    }

    .supa-text {
        font-size: 100%;
    }

    .James-text {
        font-size: 100%;
    }
}


@media only screen and (max-width: 1024px) {
    .supa-text {
        font-size: 150%;
    }
    .kony-txt {
        font-size: 90%;
    }

    .center-img {
        width: 50%;
        height: auto;
    }
}
