
* {
    margin: 0;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}




header {
    position: relative;
    background-color: rgba(255, 255, 255, 0.24);
    filter: blur();

    border-bottom: 1px solid rgba(0, 0, 0, 0.2);

}


.list {

    display: flex;
    text-align: center;
    padding-top: 1vh;
    height: 45px;
    

}


.list li {
    display: inline-block;
    padding-left: 1.5vw;
  
}

.list a {
    font-size: 1.6em;

    color: rgba(5, 5, 5, 0.7);
    transition: ease-out 0.2s;

}

.list a:hover {
    color: rgb(2, 2, 2);
    cursor: pointer;
}

.potatisen {
    display: block;
    margin-left: auto;
    padding-right: 5vh;
    font-size: 1.6em;

}




.btn-hem {
    background-color: rgba(17, 17, 17); /* black */
    border: none;
    color: white;

    padding: 1.5vh 1vw;
    font-size: 1.5em;
    border-radius: 1vh;

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3vh;
    box-shadow: 0px 0px 40px;



}

.btn-text {
    color: white;

    transition: ease-out 0.2s;

}

.btn-text:hover {
    font-size: 1.5em;
}

.text-box {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
    

}

.main-text {
    font-size: 130%;
    
}


.main-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    width: 30%;
    height: auto;
    border-radius: 1vh;
    

    box-shadow: 0px 0px 30px;
}





/* Not found*/

.not-found-img {
    display: block;

    width: 30%;
    height: auto;
    border-radius: 1vh;

    margin-left: auto;
    margin-right: auto;
}

.not-found-text {
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    padding-bottom: 1vh;
 

}

/* om oss */ 



.om-oss-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    border-radius: 7%;
    max-width: 200%;

    
}

.img-move-om-oss {
    padding-top: 10vh;
    padding-bottom: 5vh;
}


.btn-om-oss {
    background-color: rgb(17, 17, 17); /* black */
    border: none;
    color: white;

    padding: 1.5vh 1vw;
    font-size: 1em;
    border-radius: 1vh;

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;

    transition: ease-out 0.2S;

}
.btn-om-oss:hover {
    font-size: 1.5em;   
}




/* veckobrev */

.veckobrev-content-box {
    margin: auto;
    width: 40%;
    padding-top: 20vh;
}


.veckobrev-content-box {
    margin: auto;
    width: 40%;
    padding-top: 15vh;
} 
.btn-veckobrev {
    background-color: rgb(17, 17, 17); /* Black */
    border: none;
    color: white;

    padding: 1.5vh 1vw;
    font-size: 3em;
    border-radius: 1vh;
    
    width: 100%;
    border: 3px solid rgb(17, 17, 17);
    padding: 2vh;

    transition: ease-out 0.2s;

}

.btn-veckobrev:hover {
    background-color: rgba(17, 17, 17, 0);
    color: rgb(17, 17, 17);
    border: 3px solid rgb(17, 17, 17, 0.5);
}


.veckobrev-img {
    display: block;
    border-radius: 3%;

    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: 80%;

    border: solid rgba(17, 17, 17, 0.8) 1px;

}





@media only screen and (max-width: 1024px) {

    .veckobrev-content-box {
        padding-top: 10vh;
        width: 60%;
    }

    .text-box {
        width: 60%;
    }
    .om-oss-txt {
        font-size: 80%;
        width: 100%;
    }

    .om-oss-img {
        width: 45%;
    }

    .main-text {
        font-size: 95%;
        
    }
    .btn-veckobrev  {
        font-size: 2em;
    }

    .btn-hem {
        font-size: 1em;
        margin-top: 6vh;
    }

    .main-img {
        padding-top: 0vh;
    }
    
    .fot {
        font-size: 80%;
    }

    .list {
        padding-left: 2vw;
        padding-top: 1.5vh;
    }



}

@media only screen and (max-width: 736px) {


    .main-text {
        display: none;
    }

    .potatisen {
        display: none;
    }

    .list li {
        padding-bottom: 1.5vh;
    }

    .list a {
        font-size: 130%;
        padding-left: 3vw;
    }

    .main-img {
        width: 80%;

        margin-left: auto;
        margin-right: auto;
    }


    .om-oss-img {
        width: 100%;
        height: auto;
    }

    .not-found-img {

        width: 60%;
        height: auto;
    }

    .text-box {
        font-size: 90%;
    }


    .pdf-box {
        padding-top: 25vh;
    }

    .img {
        display: none;
        
        border-radius: 7%;
    }

    .btn-veckobrev {
        font-size: 50%;
    }

    .veckobrev-content-box {
        width: 90%;

    } 
}



@media only screen and (max-width: 414px) {
    .list li {
        margin: auto;
        font-size: 120%;
    }

    .list {
        font-size: 80%;
        padding-left: 2vw;
        padding-top: 1.5vh;
    }
    

    .btn-veckobrev {
        font-size: 200%;
    }

    .btn {

        font-size: 150%;
    }

    .potatisen {
        display: none;
    }

}


@media only screen and (max-width: 360px) {


    .list {
        font-size: 70%;
        padding-left: 1vw;
    }

    .list li {  
        font-size: 1.3em;
    }

    .text-box {
        
        width: 65%;
    }

    .img-move-om-oss {
        padding-top: 4vh;
        padding-bottom: 3vh;
    }


}

